@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-stack: "Poppins", sans-serif;
$primary-color: #000000;
$color-orange: #ffa501;

* {
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-weight: 700;
}

header {
  display: flex;
  width: 100%;
  background-image: url("../img/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  &:not(:first-child) {
    margin-top: 120px;
  }
}

.info {
  padding-top: 206px;
  padding-bottom: 362px;
}

.about-me {
  cursor: pointer;
}
// Оранжевый круг с текстом

.title {
  position: relative;

  &__circle {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $color-orange;

    &--middle {
      left: 50%;
      border: 0;
      transform: translate(-50%, -50%);
    }

    &--small {
      height: 15px;
      width: 15px;
      border: 0;
      position: static;
      flex-shrink: 0;
    }
  }

  &__text {
    margin: auto 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-left: 12px;

    &--middle {
      justify-content: center;
    }

    &--shadow {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--main {
      display: flex;
      font-size: 36px;
      line-height: 60px;
      margin-top: 6px;
      &-center {
        justify-content: center;
      }
    }
  }
}

.about-section {
  padding-top: 120px;
}

.info__about {
  display: flex;
  max-width: 532px;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 25px;
  line-height: 60px;
  margin-top: 8px;
}

.button {
  padding: 12px 25px;
  background-color: $color-orange;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 44px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  cursor: pointer;

  &__submit {
    max-width: 219px;
  }
}

.portfolio-buttons {
  display: flex;
  align-items: center;
}

//burger

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 345px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
  z-index: 3;

  width: 345px;
  height: 100%;
  padding: 20px;
  background-color: $color-orange;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__button {
    position: absolute;
    right: 0;
    padding-top: 20px;
    padding-right: 30px;
    cursor: pointer;
  }

  &__ellipse {
    border-radius: 50%;
    border: 1px solid $primary-color;
    width: 15px;
    height: 15px;
    margin-right: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 108px;
    margin-left: 40px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__item {
    display: flex;
    font-size: 24px;
    color: #fff;
    font-weight: 700px;
    margin-bottom: 15px;
    align-items: center;
  }

  &__social-settings {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin-left: 70px;
    padding-bottom: 50px;
    img:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 2;
  display: none;
  opacity: 0;
  transition: 0.6s;
}

.overlay--active {
  opacity: 1;
}

.menu-open {
  .burger {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
  }

  .overlay {
    display: block;
  }

  header {
    z-index: 1;
  }
}

.no-scroll {
  overflow: hidden;
}

.social {
  display: flex;
  align-items: center;
  transform: rotate(270deg) translateX(-50%);
  position: absolute;
  right: auto;
  left: 0;
  top: 50%;
  transform-origin: top left;
}

.social div {
  width: 70px;
  border: 1px solid $primary-color;
  margin-left: 15px;
}

.social img {
  margin-left: 15px;
}

.contribution {
  display: flex;
  flex-direction: column;
}

.separator {
  border: 2px solid $color-orange;
  width: 60px;

  &--centered {
    margin: 0 auto;
  }
}

.grid {
  display: flex;

  &__col {
    width: 50%;
    padding-left: 65px;
  }
}

.contacts {
  display: flex;

  &__image {
    padding: 0 68px 0 52px;
  }

  &__info {
    padding-right: 35px;
    display: flex;
    flex-direction: column;
  }

  &__social-icons img {
    width: 30px;
    margin-right: 25px;
  }

  &__icon {
    height: 50px;
    width: 50px;
  }
}

.feedback {
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__contacts {
    display: flex;

  }

  &__input {
    border: 1px solid $primary-color;
    padding: 14px 20px 13px 14px;
    width: 100%;
  }

  &__textarea {
    border: 1px solid $primary-color;
    resize: none;
    width: 100%;
    height: calc(100% - 28px);
    padding: 20px;
  }

  &__message {
    width: 100%;
    position: relative;
    flex: 1 1 auto;
  }

  .button {
    margin-right: 0;
  }
}

.field {
  max-width: 280px;
  display: flex;
  height: 45px;
  position: relative;
  margin-bottom: 30px;

  &__input {
    border: 1px solid $primary-color;
    padding: 14px 20px 13px 14px;
    width: 100%;
  }

  &__label {
    position: absolute;
    background-color: white;
    padding: 0 8px;
    top: -10px;
    margin-left: 12px;
    font-size: 12px;
    font-weight: 500;
  }

  &:not(:last-child) {
    margin-right: 25px;
  }

  &__error {
    color: red;
    display: none;
  }
}

//Benefits

.benefits {
  padding-top: 60px;
  &__group {
    display: flex;
  }

  &__line {
    width: 1px;
    background: $primary-color;
    position: relative;
    flex-shrink: 0;

    &:after {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: $color-orange;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }

  &__benefit-item {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}

.benefit {
  max-width: 417px;

  &__connector {
    width: 42px;
    height: 1px;
    background: $primary-color;
  }

  &__headline {
    display: flex;
    align-items: center;
  }

  &__icon {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $color-orange;
  }

  &__text {
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding-left: 42px;
  }

  &__top {
    margin-left: 20px;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
  }

  &__description {
    font-size: 12px;
    font-weight: 500;
  }

  &__icon {
    position: relative;
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.footer {
  padding: 120px 0 90px 0;
}

.rules{
  display: none;
  margin-bottom:20px;
  margin-left: 60px;
    &__label{ 
      font-size: 12px; 
    }

    &__link{ 
      color:#2306D6;
    }

    &__checkbox{
      display: flex;
      margin-right: 10px;
    }
 
}

@media screen and (max-width: 320px) {
  .container {
    padding: 10px;
    margin: 0;
  }

  .container:not(:first-child) {
    margin-top: 0;
  }

  .title__text--main {
    font-size: 24px;
    line-height: normal;
  }

  .grid {
    flex-direction: column;
  }

  header {
    max-height: 600px;
    background-position: 58%;
  }

  .burger {
    width: 250px;
  }

  .burger__content {
    margin-left: 0;
  }

  .burger__button {
    padding-right: 20px;
  }

  .info__about {
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
  }

  .about-section {
    padding-top: 40px;
  }

  .social {
    display: none;
  }

  .grid__col {
    padding-left: 10px;
    width: 100%;
    margin-bottom: 40px;
  }

  .footer {
    padding: 0;
  }

  .contacts__image {
    display: none;
  }

  .separator {
    margin-top: 10px;
  }

  .contacts p {
    font-size: 14px;
    line-height: normal;
  }
  .field:not(:last-child) {
    margin-right: 0;
    width: 100%;
  }

  .field {
    max-width: 300px;
  }

  .feedback {
    width: 100%;
    padding-right: 0;
    display: flex;

    &__contacts{ 
      flex-wrap: wrap;
    }
  }
  .contacts__info {
    padding-right: 0;
  }

  .feedback .button {
    margin-left: 15%;
  }

  .rules{
    display: flex;
    justify-content: center;
    
  }

}
